
form {font-family: times, serif;
	font-size: 12pt;
	color: green;
	text-align: center;
}
h1{
  font-family: times, serif;
	font-size: 14pt;
	color: blue;
	text-align: left;
}
p{
  font-family: times, serif;
	font-size: 12pt;
	color: black;
	text-align: left;
}
li{
	font-family: times, serif;
	font-size: 12pt;
	color: blue;
	text-align: left;
}
table, th, td {
border: 1px solid aquamarine;
}

.description {
	font-style: italic;
}